html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Rock Salt", cursive;
}

.landing {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(31, 55, 67, 0.45)),
    url(../images/background1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: white;
  font-family: "Rock Salt", cursive;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  font-size: 70px;
}

hr {
  width: 40%;
  margin-bottom: 10px;
  text-align: center;
}

.btn {
  background-color: #b53471;
  color: white;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 20px;
  transition: 0.5s;
}

.btn:hover {
  background-color: pink;
  border-radius: 40px;
}

.inner {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: rgb(111, 30, 81);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*make navbar stick to top*/
  position: sticky;
  top: 0px;
}

.navbar > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  margin-left: 20px;
  /*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);*/
}

.navbar-list > li {
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
  color: #ffffff;
  /*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);*/
}

.navbar-list > li > a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-list {
  margin-right: 20px;
  font-family: "Kristi", cursive;
  font-size: 20px;
}

.second-div {
  height: 100vh;
  background: linear-gradient(rgba(17, 126, 112, 0.75), rgba(0, 88, 255, 0.45)),
    url(../images/background3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -100px;
}

.quote-content {
  width: 50%;
  text-align: center;
}

.quote-content {
  color: #ffffff;
}

.article-content {
  width: 50%;
  padding: 0 20px;
  color: #ffffff;
}

.article-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}

.article-image > img {
  border-radius: 20px;
}

.third-div {
  height: 100vh;
  background: url(../images/background5.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*.div1 {
	width: 50vw;
	background-color: green;
	height: 50vh;
}

.div1 + div {
	background-color: red;
}*/

.dino-profile {
  border-radius: 50%;
}

.about-me {
  font-size: 15px;
  color: white;
  -webkit-text-stroke: 0.5px white;
}

.gallery {
  color: #ffffff;
  height: 100vh;
  background: url(../images/background4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.gallery-photos > img {
  transition: 5s;
  border-radius: 25%;
}

.gallery-photos > img:hover {
  transform: scale(1.5);
}

.contact-us {
  height: 100vh;
  background: url(../images/background7.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
}

form {
  width: 70%;
  height: 50%;
}

.form-contents,
.contact-message {
  width: 50%;
}

.form-contents {
  margin-top: 2%;
  text-align: center;
  color: #ffffff;
  margin-left: 10%;
}

.form-input {
  display: block;
  width: 100%;
  border-radius: 10px;
  font-size: 18px;
  margin: 5px 0;
}

.contact-btn {
  background-color: #661570;
  color: white;
  padding: 10px 43%;
  border: 1px solid white;
  border-radius: 20px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
